.total-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
        font-size: 14px;

        &_main {
            font-size: 18px;
            font-weight: 700;
        }
    }
}
